@keyframes blink {
    0%,
    100% {
        animation-timing-function: ease-in;
    }
    50% {
        color: #67c44d;
        background-color: #1b1a22;
    }
}
  

body {
    font-family: 'Courier New',Courier,'Lucida Sans Typewriter','Lucida Typewriter',monospace;
    background-color: #1b1a22;
    color: #67c44d;
    scrollbar-color: #67c44d #1b1a22;
    padding: 0;
    margin: 0;
}

p {
    line-height: 1;
    margin: 0;
}

.title {
    font-weight: bold;
    padding: 10px;
}

.green-border {
    box-shadow: 0px 0px 0px 2px #67c44d inset;
    padding: 10px;
}

.table {
    color: unset !important;
    font-size: 8pt;
}

.table th, .table td {
    padding: unset !important;
    border-top: unset !important;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: bold;
    border: none;
    color: #1b1a22;
    background: #67c44d;
    border: 1px solid #67c44d;
    transition: all 0.3s ease;
    margin-top: 5px;
    padding: 10px;
    outline: 0;
    border-radius: 0%;
}

.btn:disabled, .btn:hover, .btn:active {
    color: #67c44d;
    background-color: #1b1a22;
}

.btn:hover:enabled, .btn.blinking {
    color: #1b1a22;
    background: #67c44d;
    animation: blink 1s infinite;
}

.btn:focus {
    box-shadow: none;
}

.poker-card {
    cursor: pointer;
    width: 72px;
    display: inline-block;
    margin-top: 35px;
}

.poker-card.is-hold {
    color: #1b1a22;
    background: #67c44d;   
    margin-top: 0px;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 768) {
    .table {
        font-size: 8pt;
    }

    .custom-btn {
        font-size: 20pt;
    }

    .poker-card {
        position: relative;
    }
}